body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16pt; /*maybe change this size*/
    background-color: #FFFAFA;
}

.nav_links{
    display: flex;
    list-style-type:none;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link a{
  color: #0054A8;
  text-decoration: none;}

.active a {
  color: #000000;
  text-decoration-style: solid;
  font-size: 30px;
}
.link a:hover, a:focus{
    color: #000000;
    text-decoration-style: solid;
    font-size: 30px;
}
header{
    border-top:3px solid #191970;
    border-bottom: 3px solid #191970;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
@-webkit-keyframes headermove{
  from {width: 25px;}
  to {width: 420px;}
}

@keyframes headermove{
  from {width: 25px;}
  to {width: 420px;}
  }
.skip{
position:absolute;
left: -50%;
transform: translateY(-100%);
}

.skip:focus{
  left: 0%;
  font-size: 50%;
  color: #0054A8;
  text-decoration: none;
  transform:translateY(0%);
}

h1{
    font-size: 3.4em;
    text-align: center;
    color: #0054A8;
    margin: 0.2em;
    animation-name: headermove;
    animation-duration: 2s;
  }
h2 {color: #0054A8;
    font-size: 1.6em;
    text-align: center;
    margin: 5px;
  }
h3 {color: #191970;
    font-size: 1em;
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
  }
h4 {color: #191970;
    font-size: .8em;
    text-align: center;
    margin: 5px
  }
  footer{
    color: #191970;
    display:flex;
    flex-flow: column nowrap;
    font-size: 30pt;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-top: 3px solid #191970;
  }
footer p{
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 1;
}
footer a{
    color: #0054A8;
    text-decoration: none;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 16pt;
}

footer a:hover, a:focus{
    color: #000000;
    text-decoration-style: solid;
    font-size: 25px;
}

main{
    display:block;
  }
img {
    border: 5px solid #191970;
  }
  fieldset{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
  }
  legend{
  text-align: center;
  font-size: 30pt;
  color: #0054A8;
  margin-bottom: -10px;
  }
  input, textarea{
    width: 80%;
    padding: 20px;
    margin: 20px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  label{
    color: #191970;
    font-size: 125%;
  }
  input[type=submit]{
    background-color: #0054A8;
    font-family: 'Noto Sans JP', sans-serif;
    color: #ffffff;
    width: 200px;
  }
  

/*home*/ 
.container a{
    color: #0054A8;
    text-decoration: none;
}
.container a:hover, a:focus{
    color: #000000;
    text-decoration-style: solid;
}
.container p{
  text-align: center;
  line-height: 1.5;
}
.container div{
  margin: 20px;
}
.whole{
  display: grid;
  grid-template-columns: 1fr;
}
/*skills*/ 

p{
  text-align:center;
  line-height: 1.5;
}

.container_skills h2{
  margin-bottom: 20px;
  margin-top: 20px;
}

.container_skills div{
  align-items: center;
  justify-content: center;
}

.python2, .spanish2, .html2{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-right: 20px;
  margin-left:20px;
}
.python2, .spanish2, .html2{
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
 }

.pythonimg{
  background-image: url("../images/python.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.spainimg{
  background-image: url("../images/spain.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.computerimg{
  background-image: url("../images/computer.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}


/*experience*/ 
.container_experience {
margin-right: auto;
margin-left: auto;
text-align: center;
} 
.internship, .reach, .aaf, .sk, .dancemarathon{
display:flex;
flex-flow: row wrap;
align-items: center;
justify-content: center;
margin: 20px;
}

.container_experience a{
    color: #0054A8;
    text-decoration: none;
} 
.container_experience a:hover, a:focus{
    color: #000000;
    text-decoration-style: solid;
}
.imgwords1, .imgwords2, .imgwords3, .imgwords4, .imgwords5, .imgwords6, .imgwords7, .imgwords8, .imgwords9, .imgwords10{
  margin-bottom: 15px;
  margin-top: 15px;
}



/*about*/
.aboutme{
  align-items: center;
  justify-content: center;
  text-align: center;
}
#headshot, #madison, #family, #dogs, #travel, #school{
display:flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
margin: 20px;
}
#headshot img, #madison img, #family img, #dogs img, #travel img, #school img{
  margin-bottom: 10px;
}


#headshot p, #madison p, #family p, #dogs p, #travel p, #school p{
  margin-top: 10px;
}
@media screen and (min-width: 700px){
  .nav_links{
    display: flex;
    list-style-type:none;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
   }
   .footerlinks {
    color: #191970;
    text-decoration: none;
    display: grid;
    font-size: 16pt;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-right: 230px;
    margin-left: 230px;
}
/*aboutme*/
.aboutme{
  display: grid;
 grid-template-rows: auto auto auto;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-content: center;
  }


@media screen and (min-width: 1000px){
  .nav_links{
    display: flex;
    list-style-type:none;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;
   }

   .footerlinks {
    color: #191970;
    text-decoration: none;
    display: grid;
   font-size: 16pt;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
}
.whole{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

   /*aboutme*/
   .aboutme{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    }
    #headshot p, #madison p, #family p, #dogs p, #travel p{
      margin-right: 10px;
      margin-left: 10px;
    }
    .flip-card1{
      perspective: 1000px;
      width: 300px;
      height: 450px;
      }
    .flip-card2{
      perspective: 1000px;
      width: 312.5px;
      height: 400px;
    }
    .flip-card3{
      perspective: 1000px;
      width: 350px;
      height: 350px;
    }
    .flip-card4{
      perspective: 1000px;
      width: 300px;
      height: 450px;
    }
    .flip-card5{
      perspective: 1000px;
      width: 450px;
      height: 300px;
    }
    .flip-card6{
      perspective: 1000px;
      width: 450px;
      height: 300px;
    }
      
    .flip-card-inner1{
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        text-align: center;
        width: 100%;
        height: 100%;
      }
    .flip-card1:hover .flip-card-inner1, .flip-card2:hover .flip-card-inner1, .flip-card3:hover .flip-card-inner1, .flip-card4:hover .flip-card-inner1, .flip-card5:hover .flip-card-inner1, .flip-card6:hover .flip-card-inner1{
        transform: rotateY(180deg)
      }
      .flip-card1:focus .flip-card-inner1, .flip-card2:focus .flip-card-inner1, .flip-card3:focus .flip-card-inner1, .flip-card4:focus .flip-card-inner1, .flip-card5:focus .flip-card-inner1, .flip-card6:focus .flip-card-inner1{
        transform: rotateY(180deg)
      }
    
    .flip-card-front1, .flip-card-back1{
      position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
      }
    .flip-card-front1{
        background-color: #191970;
        color: black;
      }
    .flip-card-back1{
      background-color: #191970;
      color: #ffffff;
      transform: rotateY(180deg);
      }
      #headshot img, #dogs img{
        width: 300px;
        height: 450px;
      }
      #family img{
        width:312.5px;
        height: 400px;
      }
      #school img{
        width:350px;
        height:350px;
      }
      #madison img, #travel img{
        width:450px;
        height: 300px;
      }
    /*skills*/ 
    .skills{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      margin-top:20px;
      margin-bottom:20px;
    }
    .python, .spanish, .html, .python2, .spanish2, .html2{
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 25px;
    }
    .python, .spanish, .html{
      margin-bottom: 20px;
    }
    .python2, .spanish2, .html2{
      margin-top:20px;
    }

    

    /*experience*/
    .internship,.reach, .aaf, .sk, .dancemarathon{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      margin-bottom: 100px;
    }
 .internshipimg1, .reachimg1, .aafimg1, .skimg1, .danceimg1{
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
      margin-bottom:30px;
    }
    .internheader, .reachheader, .aafheader, .skheader, .danceheader{
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      text-align: center;
    }
    .internshipimg2, .reachimg2, .aafimg2, .skimg2, .danceimg2 {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
      margin-right: auto;
      margin-left: auto;
    }
 
 
    .internshipimg1, .internshipimg2, .reachimg1, .reachimg2, .aafimg1, .aafimg2, .skimg1, .skimg2, .danceimg1, .danceimg2{
      position: relative;
    }
    
    .img1, .img2, .img3, .img5, .img7, .img9, .img10{
      display: block;
      width: 391px;
      height: 260px;
    }
    .img4, .img6{
      display:block;
      width:310px;
      height: 310px;
    }
    .img8{
      display:block;
      width: 260px;
      height: 391px;
    }
    
    .overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8, .overlay9, .overlay10 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: 100%;
      opacity: 0;
      transition: .6s ease;
      background-color: #191970;
    }
    .internshipimg1:focus .overlay1, .internshipimg2:focus .overlay2, .reachimg1:focus .overlay3, .reachimg2:focus .overlay4, .aafimg1:focus .overlay5, .aafimg2:focus .overlay6, .skimg1:focus .overlay7, .skimg2:focus .overlay8, .danceimg1:focus .overlay9, .danceimg2:focus .overlay10{
      opacity: .9;
    }

    .internshipimg1:hover .overlay1, .internshipimg2:hover .overlay2, .reachimg1:hover .overlay3, .reachimg2:hover .overlay4, .aafimg1:hover .overlay5, .aafimg2:hover .overlay6, .skimg1:hover .overlay7, .skimg2:hover .overlay8, .danceimg1:hover .overlay9, .danceimg2:hover .overlay10{
      opacity: .9;
    }
    
    .imgwords1, .imgwords2, .imgwords3, .imgwords4, .imgwords5, .imgwords6, .imgwords7, .imgwords8, .imgwords9, .imgwords10{
      color: white;
      font-size: 14.5px;
      position: absolute;
      top: 40%;
      left: 50%;
      right: -40%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
      margin-top: 0px;
      margin-bottom: 0px;
    }


}

@media screen and (prefers-reduced-motion: reduce){
  h1 {
    animation: none; 
  }
}




