body{
    font-family: 'Noto Sans JP', sans-serif;
    margin:0;
    padding: 0;
    font-size: 16pt; /*maybe change this size*/
    background-color: #FFFAFA;

}

.nav_links{
    list-style-type:none;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
}
.nav_links a{
    color: #8FBC8F;
    text-decoration: none;}

.nav_links a:hover, a:focus{
    color: #000000;
    text-decoration: underline;
    text-decoration-style: solid;

}
header{
    border-top:3px solid #000000;
    border-bottom: 3px solid #000000;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4em;
    text-align: center;
    color: #8FBC8F;
  }
h2{
    font-size: 1.5em;
    padding: 5px;
  }

main{
    border-bottom: 3px solid #000000;
  }
.container a{
    color: #8FBC8F;
    text-decoration: none;
}
.container a:hover, a:focus{
    color: #000000;
    text-decoration: underline;
    text-decoration-style: solid;
}
.container_skills{
    display:grid;
    grid-template-columns: 1fr;
}
h2{color: #8FBC8F;
    font-size: 1.5em;
    padding: 5px;
    text-align: center;
  }
h3 {color: #8FBC8F;
    font-size: 1.25em;
    padding: 5px;
    text-align: center;
  }
  h4 {color: #8FBC8F;
    font-size: 1em;
    padding: 5px;
    text-align: center;
  }

img{
padding: 5px;
display: block;
margin-right:auto;
margin-left:auto;
}
p{
    text-align: center; 
}
div{
    overflow: hidden;
  }

.container_about{
    display:grid;
    grid-template-columns: 1fr;
}
div{
    overflow: hidden;
  }




footer{
    color: #8FBC8F;
    padding: 30px;
    display:flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }
footer a{
    color: #8FBC8F;
    text-decoration: none;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

footer a:hover, a:focus{
    color: #000000;
    text-decoration: underline;
    text-decoration-style: solid;
}
